<div class="container">
  <nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/courses']" routerLinkActive="router-link-active">Cursos</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Gestionar Curso</li>
    </ol>
  </nav>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" formControlName="name">
          <div *ngIf="isFieldValid('name')" class="invalid-input-message">
            {{getFieldError('name')}}
          </div>
        </div>
        <div class="form-group">
          <label>Descripción</label>
          <textarea class="form-control" formControlName="description"></textarea>
          <div *ngIf="isFieldValid('description')" class="invalid-input-message">
            {{getFieldError('description')}}
          </div>
        </div>
        <div class="form-group">
          <label>Link</label>
          <input type="url" class="form-control" formControlName="link">
          <div *ngIf="isFieldValid('link')" class="invalid-input-message">
            {{getFieldError('link')}}
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="theoreticalCourse" name="type" formControlName="type" class="custom-control-input"
                value="Teórico">
              <label class="custom-control-label" for="theoreticalCourse">Teórico</label>
            </div>
          </div>
          <div class="form-group col-md-6">
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="presentialCourse" name="type" formControlName="type" class="custom-control-input"
                value="Presencial">
              <label class="custom-control-label" for="presentialCourse">Presencial</label>
            </div>
          </div>
          <div *ngIf="isFieldValid('type')" class="invalid-input-message">
            {{getFieldError('type')}}
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col">
        <button class="btn btn-secondary" block [disabled]="!form.valid" type="submit">
          <i class="fa fa-check" aria-hidden="true"></i> GUARDAR
        </button>
      </div>
    </div>
  </form>
</div>