<ion-content>
  <ion-row>
    <ion-col class="ion-padding">
      <span style="color: var(--ion-color-primary);">Razón por la cual el móvil queda desafectado</span>
    </ion-col>
  </ion-row>

<ion-item >
  <ion-label position="stacked">
    Descripción
  </ion-label>
  <ion-textarea placeholder="Escribir aquí..."></ion-textarea>
</ion-item>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary">Enviar</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>