.idea
.ionic
.project
.sass-cache
.sourcemaps
.strong-pm
.versions
.vscode

.DS_Store
Thumbs.db
$RECYCLE.BIN/
UserInterfaceState.xcuserstate

coverage
node_modules
platforms
plugins
dist
www

package-lock.json
npm-debug.log
npm-debug.log*
