<div class="container">
    <div class="row mb-5 section-header">
      <div class="col-sm-6">
        <h2 class="section-title">Mantenimiento de tablas</h2>
      </div>
    </div>

    <div class="row"> 
      <div class="col-6">
          <h2 class="section-title">Vehiculos</h2>
          <hr>
        <div class="row">
          <a [routerLink]="['/vehicleBrands']" routerLinkActive="router-link-active" class="btn btn-outline-primary col-8 m-2">Marcas</a>
          <a [routerLink]="['/vehicleModels']" routerLinkActive="router-link-active" class="btn btn-outline-primary col-8 m-2">Modelos</a>
          <a [routerLink]="['/vehicleTypes']" routerLinkActive="router-link-active" class="btn btn-outline-primary col-8 m-2">Tipos</a>
          <a [routerLink]="['/vehicleInsurances']" routerLinkActive="router-link-active" class="btn btn-outline-primary col-8 m-2">Seguros</a>
        </div>
      </div>
      <div class="col-6">
        <h2 class="section-title">Obras Sociales</h2>
        <hr>
      <div class="row">
        <a [routerLink]="['/phcs']" routerLinkActive="router-link-active" class="btn btn-outline-primary col-8 m-2">Obra Social</a>
        <a [routerLink]="['/phcps']" routerLinkActive="router-link-active" class="btn btn-outline-primary col-8 m-2">Planes de obra social</a>
      </div>
    </div>
    </div>

    <div class="row mt-3">
      <div class="col-6">
          <h2 class="section-title">Medicinas</h2>
          <hr>
        <div class="row">
          <a [routerLink]="['/categories']" routerLinkActive="router-link-active" class="btn btn-outline-primary col-8 m-2">Categorias</a>
          <a [routerLink]="['/medicines']" routerLinkActive="router-link-active" class="btn btn-outline-primary col-8 m-2">Medicamentos</a>
        </div>
      </div>
      <div class="col-6">
        <h2 class="section-title">Otros</h2>
        <hr>
      <div class="row">
        <a [routerLink]="['/diseases']" routerLinkActive="router-link-active" class="btn btn-outline-primary col-8 m-2">Dolencias</a>
        <a [routerLink]="['/equipments']" routerLinkActive="router-link-active" class="btn btn-outline-primary col-8 m-2">Equipamientos</a>
        <a [routerLink]="['/courses']" routerLinkActive="router-link-active" class="btn btn-outline-primary col-8 m-2">Cursos</a>
        <a [routerLink]="['/insurances']" routerLinkActive="router-link-active" class="btn btn-outline-primary col-8 m-2">Seguros de personas</a>

      </div>
    </div>
</div>