ion-content {

.video-container {
        position: relative;
        height: auto;

        .class-pic {
            object-fit: cover;
            border: 0;
            width: 100%;
            height: 25rem;
        }

        .play-icon-container {
            position: absolute;
            display: flex; // make us of Flexbox
            align-items: center; // does vertically center the desired content
            justify-content: center; // horizontally centers single line items
            text-align: center;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            .play-icon {
                font-size: 7em;
            }
        }
    }

}
