<ion-header>
  <ion-toolbar>
    <ion-title>EMC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-center" style="margin-top: 20vh;">
    <ion-icon name="link" style="color: rgb(136, 136, 136); font-size: 8rem;"></ion-icon>
    <span style="color: rgb(136, 136, 136);">No tienes colaboradores asociados todavía</span>
  </ion-row>

  <ion-row style="margin-top: 2vh;">
    <ion-col class="class-col-button" class="ion-text-center">
      <ion-button color="primary" (click)="goToNewAssociates()">Asociar colaboradores</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
