<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  
  <div >
    <div class="message" class='slide-left'>
      <div class="message">
        <span>
          Tengo una emergencia!
          <small class="small-msg">11:00pm</small>
        </span>
      </div>
    </div>
  
    <div class="messages other">
      <div class="message">
        <span>
          Diganos cual es su emergencia
          <small class="small-msg">11:00pm</small>
        </span>
      </div>
    </div>
  
    <div class="messages adm">
      <div class="message">
        <span>
        </span>
      </div>
    </div>
  </div>
  
  </ion-content>
  
  <ion-footer>
    <form>
      <ion-toolbar style="padding: 8px;">
        <div>
            <ion-item>
              <ion-input type="text" ></ion-input>
              <ion-icon name="send" slot="end" color="primary"></ion-icon>
            </ion-item>
        </div>
      </ion-toolbar>
    </form>
  </ion-footer>

