<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Calificar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-padding" style="margin-top: 5vh;">
  
    <ion-row>
      <ion-col class="ion-text-center">
        <h2 style="color: var(--ion-color-primary);">Se siento bien tratado por el paciente?</h2>
      </ion-col>
    </ion-row>
    
    <ion-row style="margin-top: 5vh;">
      <ion-col class="ion-text-center">
        <ion-icon name="star" color="warning" class="class-ion-icon"></ion-icon>
        <ion-icon name="star" color="warning" class="class-ion-icon"></ion-icon>
        <ion-icon name="star" color="warning" class="class-ion-icon"></ion-icon>
        <ion-icon name="star-outline" color="warning" class="class-ion-icon"></ion-icon>
        <ion-icon name="star-outline" color="warning" class="class-ion-icon"></ion-icon>
      </ion-col>
    </ion-row>
    
    <ion-row style="margin-top: 5vh;">
      <ion-col>
        <ion-item >
          <ion-label position="stacked" style="font-size: 1.4rem; color: var(--ion-color-primary);">
            Por que?
          </ion-label>
          <ion-textarea >

          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary">Fin del servicio</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>