<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva emergencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      Confirmación
    </ion-card-header>
    <ion-card-content>
      Se establecerá una videollamada con el medico que la asistirá en breves minutos. ¿Desea efectuarla?
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col size="6">
        <ion-button color="primary" expand="block">Si</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button color="secondary" expand="block">No</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
