<div class="container">
  <nav aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/equipments']" routerLinkActive="router-link-active">Equipamiento
          para UMACs</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Gestionar Equipo</li>
    </ol>
  </nav>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col">
        <button class="btn btn-secondary" block [disabled]="!form.valid" type="submit">
          <i class="fa fa-check" aria-hidden="true"></i> GUARDAR
        </button>
      </div>
    </div>
  </form>
</div>