<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="new-collab">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="record">
      <ion-icon name="time"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button  [routerLink]="['/home/tabs/user/5f5ab6afe1e3fd0dba4f1ab9']" [class.active-item]="selectedPath.includes('user')"> -->
    <!-- <ion-tab-button tab="user/5f5ab6afe1e3fd0dba4f1ab9"> -->
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>