<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asociaciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-content>

    <ion-card>
      <ion-card-header class="ion-text-center">
        Asociar Unidad Médica Alta Complejidad
      </ion-card-header>
      <ion-card-content>

        <ion-item lines="none">
          <ion-label>
            <h2>Pedro Damián</h2>
            <p>Médico</p>
          </ion-label>
          <ion-icon name="checkmark-circle" slot="start" color="success"></ion-icon>
          <ion-icon name="log-out" slot="end" color="primary"></ion-icon>
        </ion-item>
          <!-- <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col size="8">
              <ion-item>
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4" class="class-col">
              <ion-button expand="block" class="class-button">Ingresar</ion-button>
            </ion-col>
          </ion-row> -->
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="ion-text-center">
        Asociar Conductor Técnico
      </ion-card-header>
      <ion-card-content>
          <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col size="8">
              <ion-item>
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4" class="class-col">
              <ion-button expand="block" class="class-button">Ingresar</ion-button>
            </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header class="ion-text-center">
        Asociar Enfermero Profesional
      </ion-card-header>
      <ion-card-content>
          <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col size="8">
              <ion-item>
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4" class="class-col">
              <ion-button expand="block" class="class-button">Ingresar</ion-button>
            </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>

    
    <ion-card>
      <ion-card-header class="ion-text-center">
        Asociar Médico
      </ion-card-header>
      <ion-card-content>
          <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col size="8">
              <ion-item>
                <ion-label position="stacked">Contraseña</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4" class="class-col">
              <ion-button expand="block" class="class-button">Ingresar</ion-button>
            </ion-col>
          </ion-row>
      </ion-card-content>
    </ion-card>

    


    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col class="ion-text-center">
          <p>No llegarán servicios hasta que el médico esté conectado</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="goToMap()">Confirmar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>