ion-content {
  .invalid-input-message {
      color: rgb(230, 5, 5);
      float: right;
      font-size: 14px;
      padding: 3px;
  }

  .class-grid {
        justify-content: center;
        padding: 16px;
        margin-top: 10vh;
    }

    .class-input {
      padding-top: 10px;
      width: 100%;
      color: var(--ion-color-primary);
    }

    .class-row-button {
        margin-top: 8vh;

        .class-col-button {
            padding: 0px;
            }

        .button {
            height: 40px;
            width: 100%;
        }

        }

}
