<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="emergency">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>Emergencias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="newspaper"></ion-icon>
      <ion-label>Novedades</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="courses">
      <ion-icon name="book"></ion-icon>
      <ion-label>Cursos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="record">
      <ion-icon name="time"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button  [routerLink]="['/home/tabs/user/5f5ab6afe1e3fd0dba4f1ab9']" [class.active-item]="selectedPath.includes('user')"> -->
    <!-- <ion-tab-button tab="user/5f5ab6afe1e3fd0dba4f1ab9"> -->
    <!-- <ion-tab-button tab="user">
      <ion-icon name="person"></ion-icon>
        <ion-label>Mi Cuenta</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>
