<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <!-- <h2 style="color: var(--ion-color-primary);">Recuperar contraseña</h2> -->
    <p>Se le ha enviado un código a esta dirección de mail</p>
    <span>mar**********@gmail.com</span>
  </ion-row>
  <ion-row style="margin-top: 7vh;">
    <ion-col >
      <ion-item style="width: 100%">
        <ion-label position="floating">Ingresar código</ion-label>
        <ion-input type="number" ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: 7vh;">
    <ion-col >
      <ion-button expand="block" color="primary" >
        Aceptar
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
