ion-header {
    --background: transparent !important;
    ion-toolbar{
        --background: transparent !important;
        color: var(--ion-color-primary);
    }
}

ion-content {
    ion-row{
        padding: 16px;
    }
}