<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <ion-list>

      <ion-item lines="full" class="class-input">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="text" required class="form-control" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="isFieldValid('password')" class="invalid-input-message">
        {{getFieldError('password')}}
      </div>

      <ion-item lines="full" class="class-input">
        <ion-label position="floating">Contraseña Nueva</ion-label>
        <ion-input type="text" required class="form-control" formControlName="passwordNew"></ion-input>
      </ion-item>
      <div *ngIf="isFieldValid('passwordNew')" class="invalid-input-message">
        {{getFieldError('passwordNew')}}
      </div>

      <ion-item lines="full" class="class-input">
        <ion-label position="floating">Confirmar Contraseña Nueva</ion-label>
        <ion-input type="text" required class="form-control" formControlName="passwordNewVerify"></ion-input>
      </ion-item>
      <div *ngIf="isFieldValid('passwordNewVerify')" class="invalid-input-message">
        {{getFieldError('passwordNewVerify')}}
      </div>

    </ion-list>

    <ion-row class="class-row-button">
      <ion-col class="class-col-button">
         <ion-button type="submit" color="secondary" expand="block" fill="outline" [disabled]="!form.valid">Cambiar</ion-button>
      </ion-col>
    </ion-row>

  </form>

</ion-content>
