ion-content {
    .invalid-input-message {
        color: rgb(230, 5, 5);
        float: right;
        font-size: 14px;
        padding: 3px;
    }

    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: 16px;
    
    
        .class-input {
            padding-top: 10px;
            width: 100%;
            color: var(--ion-color-primary);
        }
        
        .class-row-button {

    
            .class-col-button {
                padding: 0px;   
                }
    
            .button {
                height: 40px;
            }
    
            }


            .table {
        font-size: .85em;
        border-spacing: 5px;
        border-collapse: separate;

        td, th {
            text-align: center;

        }
    }

    
}


