<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Calificar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="2">
    </ion-col>
    <ion-col size="8">
      <ion-img src="assets/imgs/icono.png"></ion-img>
    </ion-col>
    <ion-col size="2">
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-card-header class="ion-text-center">
      Calificación del servicio

      <ion-row class="ion-justify-content-center" style="margin-top: 3vh;">
        <ion-icon name="star" color="warning" class="class-ion-icon"></ion-icon>
        <ion-icon name="star" color="warning" class="class-ion-icon"></ion-icon>
        <ion-icon name="star" color="warning" class="class-ion-icon"></ion-icon>
        <ion-icon name="star" color="warning" class="class-ion-icon"></ion-icon>
        <ion-icon name="star" color="warning" class="class-ion-icon"></ion-icon>        
      </ion-row>

    </ion-card-header>
    <ion-card-content class="ion-text-center" style="margin-top: 5vh;">
      
      Calificar profesionales
      
      <ion-row style="margin-top: 3vh;">
        <ion-col size="6">
          Médico:
        </ion-col>
        <ion-col size="6">
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
        </ion-col>

        <ion-col size="6">
          Enfermero:
        </ion-col>
        <ion-col size="6">
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
        </ion-col>

        <ion-col size="6">
          Conductor:
        </ion-col>
        <ion-col size="6">
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
          <ion-icon name="star" color="warning"></ion-icon>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-button color="secondary" expand="block" (click)="goToHome()">Finalizar</ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>