<form class="w-100 pt-3 container" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!processing">
  <h3>Administrador - Cambio de password</h3>

  <div class="row">
    <div class="col-6">
      <div class="form-group mb-3">
        <label>Password</label>
        <input type="text" class="form-control" formControlName="password">
      </div>
      <div class="form-group mb-3">
        <label>Password nuevo</label>
        <input type="text" class="form-control" formControlName="passwordNew">
      </div>
      <div class="form-group mb-3">
        <label>Password nuevo Verify</label>
        <input type="text" class="form-control" formControlName="passwordNewVerify">
      </div>
    </div>
  </div>

  <button class="btn btn-secondary mb-4 mt-4 float-right" block [disabled]="!form.valid" type="submit">
    <i class="fa fa-check" aria-hidden="true"></i> GUARDAR
  </button>

</form>