<div class="container">
  <div class="row section-header">
    <div class="col-sm-6">
      <h2 class="section-title">Novedades</h2>
    </div>
    <div class="col-sm-6">
      <button type="button" class="btn btn-primary ml-2" (click)="create()">
        <i class="fa fa-plus"></i> Agregar
      </button>
    </div>
  </div>
  <div class="row section-filters mt-2">
    <div class="col-md-3">
      <div class="form-group">
        <label for="textSearch">Buscar</label>
        <input type="text" class="form-control" id="textSearch" (keyup.enter)="getItems()"
          placeholder="Buscar por nombre..." [(ngModel)]="textSearch" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <label>.</label>
        <button class="btn btn-outline-primary btn-block" (click)="getItems()">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row p-3">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th>
            <button type="button" class="btn btn-light" (click)="sort('title')">
              Título
              <i class="fa" [ngClass]="{'fa-arrow-down': sortField.title == 1,'fa-arrow-up': sortField.title == -1}"
                aria-hidden="true"></i>
            </button>
          </th>
          <th>
            <button type="button" class="btn btn-none">Texto</button>
          </th>
          <th width="20%" class="text-right">
            {{count}} Resultados
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Cargador -->
        <tr *ngIf="loading" class="text-center">
          <td colspan="6">
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...
          </td>
        </tr>
        <!-- Texto cuando no hay resultados  -->
        <tr *ngIf="!loading && items.length == 0" class="text-center">
          <td colspan="6">
            <span class="text-muted">
              <i class="fa fa-close" aria-hidden="true"></i>
              No hay resultados para mostrar
            </span>
          </td>
        </tr>
        <tr *ngFor="let item of items">
          <td>
            {{ item.title }}
          </td>
          <td>
            {{ item.text }}
          </td>
          <td class="text-right">
            <button class="btn btn-secondary btn-sm mr-2" type="button" (click)="edit(item)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
            <button class="btn btn-danger btn-sm" type="button" (click)="remove(item)">
              <i class="fa fa-close" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item" [ngClass]="{'disabled': page <= 1}">
            <a (click)="previousPage()" class="page-link" href="#" tabindex="-1">Anterior</a>
          </li>
          <li class="page-item disabled"><a class="page-link" href="#">{{page}}</a></li>
          <li class="page-item" [ngClass]="{'disabled': page <= page}">
            <a (click)="nextPage()" class="page-link" href="#">Próxima</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-4 text-right pt-2">
      <span class="text-muted">
        Total de páginas {{pages}}
      </span>
    </div>
  </div>
</div>